main { background-color: slategray; }
aside { background-color: silver; }
header { background-color: silver; }
header.your_turn { background-color: orange; }
#role_England .role_name { background-color: salmon; }
#role_Scotland .role_name { background-color: skyblue; }
#turn_info { background-color: gainsboro; }
.role_vp { float: right; }

#log { background-color: whitesmoke; }
#log div { padding-left: 20px; text-indent: -12px; }
#log div.i { padding-left: 32px; text-indent: -12px; }
#log .h1 { background-color: darkslategray; color: white; font-weight: bold; }
#log .S { background-color: lightblue; }
#log .E { background-color: pink; }
#log .h3 { background-color: gainsboro; }
#log .h4 { font-style: italic; text-decoration: underline; }
#log .tip:hover { text-decoration: underline; cursor: pointer; }

/* CARDS */

.hand {
	margin: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 344px;
	gap: 24px;
}

@media (max-width: 800px) {
	.hand {
		min-width: 1638px;
	}
}

.card_back{background-image: url('cards/card_back.svg')}

.card_truce{background-image:url('cards/card_truce.jpg')}
.card_herald{background-image:url('cards/card_herald.jpg')}
.card_sea_move{background-image:url('cards/card_sea_move.jpg')}
.card_pillage{background-image:url('cards/card_pillage.jpg')}
.card_victuals{background-image:url('cards/card_victuals.jpg')}
.card_1{background-image:url('cards/card_1.jpg')}
.card_2{background-image:url('cards/card_2.jpg')}
.card_3{background-image:url('cards/card_3.jpg')}

.card {
	background-size: cover;
	background-repeat: no-repeat;
	width: 224px;
	height: 344px;
	background-color: #883737;
	box-shadow: 1px 1px 4px #0006;
	transition: 100ms;
	display: none;
}

.card.show {
	display: block;
}

.card.enabled:hover {
	transform: translateY(-8px);
}

.card.enabled {
	cursor: pointer;
}

.card.disabled {
	filter: grayscale(100%);
}

.role_info {
	overflow: clip;
	transition: height 100ms, padding 100ms;
	height: 84px;
	padding: 12px 0;
}

.role_info .card {
	width: 168px;
	height: 258px;
	margin: 0 auto;
}

.role:hover .role_info {
	height: 258px;
}

@media (max-height: 600px) {
	.role:not(:hover) .role_info { display: none; }
}

@media (max-height: 800px) {
	#turn_info { display: none; }
	.role_info { height: 56px; padding: 8px 0; }
}

/* MAP */

#mapwrap {
	box-shadow: 0px 1px 8px #0008;
	width: 1688px;
	height: 1950px;
}

#map {
	background-color: darkslategray;
	width: 1688px;
	height: 1950px;
	background-repeat: no-repeat;
	background-size: cover;
}

#map { background-image: url("map75.jpg") }
@media (min-resolution: 97dpi) {
	#map { background-image: url("map150.jpg") }
}

#map svg {
	position: absolute;
}

#map svg path.area {
	fill-opacity: 0;
	fill: white;
}
#map svg path.area.where {
	fill-opacity: 0.4;
	fill: darkslategray;
}
#map svg path.area.highlight {
	cursor: pointer;
	fill-opacity: 0.4;
	fill: white;
}
#map svg path.area.tip {
	stroke: yellow;
	stroke-width: 40;
	stroke-dasharray: 80 40;
}

#map.hide_blocks #blocks {
	visibility: hidden;
}

/* TURN MARKER */

div.turn {
	position: absolute;
	width: 66px;
	height: 66px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(turn_marker.jpg);
	box-shadow: 0 0 2px 1px #0002;
	transition: 700ms ease;
}

div.turn.year_1297 { left: 1511px; top: 221px; }
div.turn.year_1298 { left: 1511px; top: 306px; }
div.turn.year_1299 { left: 1511px; top: 392px; }
div.turn.year_1300 { left: 1511px; top: 478px; }
div.turn.year_1301 { left: 1511px; top: 563px; }
div.turn.year_1302 { left: 1511px; top: 649px; }
div.turn.year_1303 { left: 1511px; top: 734px; }
div.turn.year_1304 { left: 1511px; top: 820px; }
div.turn.year_1305 { left: 1511px; top: 906px; }
div.turn.year_1306 { left: 1511px; top: 992px; }
div.turn.year_1307 { left: 1511px; top: 1077px; }
div.turn.year_1308 { left: 1511px; top: 1163px; }
div.turn.year_1309 { left: 1511px; top: 1249px; }
div.turn.year_1310 { left: 1511px; top: 1334px; }
div.turn.year_1311 { left: 1511px; top: 1420px; }
div.turn.year_1312 { left: 1511px; top: 1506px; }
div.turn.year_1313 { left: 1511px; top: 1591px; }
div.turn.year_1314 { left: 1511px; top: 1677px; }

/* BLOCKS */

body.shift .block.known:hover {
	transform: scale(2) !important;
	transition: 100ms;
	z-index: 100;
}

#blocks > .block {
	position: absolute;
}

#battle > .block {
	position: relative;
}

.block {
	background-size: 700% 400%;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 2px 1px #0002;
}


.oldblocks .block.England { border: 4px solid brown; background-color: brown; }
.oldblocks .block.Scotland { border: 4px solid #06a; background-color: #06a; }

.newblocks .block.England { border: 2px solid #a12; background-color: #a12; }
.newblocks .block.Scotland { border: 2px solid #059; background-color: #059; }

.oldblocks .block.highlight { border-color: white; }
.oldblocks .block.selected { border-color: yellow; }
.oldblocks .battle_menu.hit .block.highlight { border-color: black; }

.newblocks .block.highlight { border-color: white; box-shadow: 0 0 0 1px white; }
.newblocks .block.selected { border-color: yellow; box-shadow: 0 0 0 1px yellow; }
.newblocks .battle_menu.hit .block.highlight { border-color: black; box-shadow: 0 0 0 1px black; }

.block.highlight { cursor: pointer; }
.block.moved { filter: grayscale(50%) brightness(80%); }
.block.highlight.moved { filter: grayscale(60%) brightness(95%); }

.block.r1 { transform: rotate(-90deg); }
.block.r2 { transform: rotate(-180deg); }
.block.r3 { transform: rotate(-270deg); }

.block:hover { z-index: 1; }

.block {
	transition-property: top, left, transform, opacity;
	transition-duration: 700ms, 700ms, 250ms, 250ms;
	transition-timing-function: ease, ease, ease, linear;
}

/* BATTLE BOX HIDING */

#map svg path.area.battle {
	fill-opacity: 0.5;
	fill: black;
}

/*
.block.battle { filter: grayscale(60%) brightness(60%) !important }
*/
.block.battle { opacity: 0; pointer-events: none }

/* HERALD DIALOG */

#herald {
	top: calc(44px + 12px);
	left: 12px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	min-width: 120px;
	max-height: calc(100% - 44px - 24px);
}
#herald li.title { font-weight: bold; }
#herald li.title { background-color: hsl(43, 79%, 70%) }
#herald li { background-color: hsl(43, 79%, 95%) }

body.England #herald li.action:hover { background-color: hsl(204, 100%, 35%); }
body.Scotland #herald li.action:hover { background-color: hsl(0, 59%, 35%); }

/* BATTLE BOARD */

#battle { background-color: silver; }
#battle_message { background-color: lightsteelblue; }
#battle_header { background-color: steelblue; color: white; }
#FR, #ER { background-color: #acacac; }

/* BLOCKS */

.oldblocks .known.Scotland{background-image:url(old_blocks_scotland.png)}
.oldblocks .known.England{background-image:url(old_blocks_england.png)}
.newblocks .known.Scotland{background-image:url(new_blocks_scotland.png)}
.newblocks .known.England{background-image:url(new_blocks_england.png)}

.known.block_11{background-position:0px 0px}
.known.block_12{background-position:-60px 0px}
.known.block_13{background-position:-120px 0px}
.known.block_14{background-position:-180px 0px}
.known.block_15{background-position:-240px 0px}
.known.block_16{background-position:-300px 0px}
.known.block_17{background-position:-360px 0px}
.known.block_21{background-position:0px -60px}
.known.block_22{background-position:-60px -60px}
.known.block_23{background-position:-120px -60px}
.known.block_24{background-position:-180px -60px}
.known.block_25{background-position:-240px -60px}
.known.block_26{background-position:-300px -60px}
.known.block_27{background-position:-360px -60px}
.known.block_31{background-position:0px -120px}
.known.block_32{background-position:-60px -120px}
.known.block_33{background-position:-120px -120px}
.known.block_34{background-position:-180px -120px}
.known.block_35{background-position:-240px -120px}
.known.block_36{background-position:-300px -120px}
.known.block_37{background-position:-360px -120px}
.known.block_41{background-position:0px -180px}
.known.block_42{background-position:-60px -180px}
.known.block_43{background-position:-120px -180px}
.known.block_44{background-position:-180px -180px}
.known.block_45{background-position:-240px -180px}
.known.block_46{background-position:-300px -180px}
.known.block_47{background-position:-360px -180px}
.known.block_61{background-position:0px 0px}
.known.block_62{background-position:-60px 0px}
.known.block_63{background-position:-120px 0px}
.known.block_64{background-position:-180px 0px}
.known.block_65{background-position:-240px 0px}
.known.block_66{background-position:-300px 0px}
.known.block_67{background-position:-360px 0px}
.known.block_71{background-position:0px -60px}
.known.block_72{background-position:-60px -60px}
.known.block_73{background-position:-120px -60px}
.known.block_74{background-position:-180px -60px}
.known.block_75{background-position:-240px -60px}
.known.block_76{background-position:-300px -60px}
.known.block_77{background-position:-360px -60px}
.known.block_81{background-position:0px -120px}
.known.block_82{background-position:-60px -120px}
.known.block_83{background-position:-120px -120px}
.known.block_84{background-position:-180px -120px}
.known.block_85{background-position:-240px -120px}
.known.block_86{background-position:-300px -120px}
.known.block_87{background-position:-360px -120px}
.known.block_91{background-position:0px -180px}
.known.block_92{background-position:-60px -180px}
.known.block_93{background-position:-120px -180px}
.known.block_94{background-position:-180px -180px}
.known.block_95{background-position:-240px -180px}
.known.block_96{background-position:-300px -180px}
.known.block_97{background-position:-360px -180px}
